@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch-text {
  position: relative;
  animation: glitch 500ms infinite;
  animation-timing-function: steps(2, end);
  will-change: transform;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  will-change: transform;
}

.glitch-text::before {
  left: 2px;
  text-shadow: -2px 0 #00ffff;
  animation: glitch 650ms infinite;
  animation-timing-function: steps(2, end);
}

.glitch-text::after {
  left: -2px;
  text-shadow: 2px 0 #ff00ff;
  animation: glitch 375ms infinite;
  animation-timing-function: steps(2, end);
}

.gradient-text {
  @apply bg-gradient-to-r from-black to-gray-600 bg-clip-text text-transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
  background-size: 200% auto;
}